* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family:'Roboto', sans-serif;
}
header {
    padding: 1.5rem 0rem;
    height: 50px;
    width: 100%;
    background-color: #7C809B;
    position: fixed;
    z-index: 1;
    

}
body{
    /* background-color:#7C809B ; */
    position: relative;
    
}
.menu{
    display: flex;
}
.menu-content {
    display: flex;
    flex-direction:row;
    justify-content: start;
    
    background-color: #7C809B;

}
.menu-content > a:hover{
    background-color: rgba(161, 205, 244, 0.3);
    opacity: 0.5;
}

.inicio{
    top:10rem;
    padding: 4rem 2rem;
    position:relative;
    /* background-color: #7C809B; */
}
.inicio h1 {
    font-size: 2rem;
}
.inicio p {
    font-size: 1.5rem;
}
.encabezado {
    margin-bottom: 2rem;
}
.knowledge-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.knowledge-item img {
    width: 2rem;
    height: 2rem;
}
.knowledge {
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.medium {
    background-color: #a1cdf4;
}
.basic {
    background-color: #ada9b7;
}
.level {
    padding: 0.7rem;
    border-radius: 0.7rem;
    font-size: 1.3rem;
}
.next-knowledge {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.estudios >.content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.estudios-item {
    box-shadow: 0px 0px 20px 5px rgba(50, 50, 93, 0.25);
    width: 20rem;
    overflow: hidden;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 30rem;
}
.img img{
    width: 20rem;
    height: 15rem;
}
.estudios-item .content {
    padding: 1rem;
}


@media (min-width: 767px){
.inicio{
    display: flex;
}
.knowledge {
    width: 50%;
}
.estudios {
    width: 50%;
}
.estudios > .content {

    flex-direction: row;
    flex-wrap: wrap;
}
.estudios-item {
   
    width: 15rem;
    height: 30rem;
}
.img img{
    width: 15rem;
    height: 12rem;
}
}

@media (min-width:370px) {
    .menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: max-content;
    }
    .menu-btn {
        width: 7rem;
    }
    .menu-btn::after {
        content: "";
        display: inline-block;
        background-image: url(../icons/bars-solid.svg);
        background-repeat: no-repeat;
        padding:2.3rem;
        margin-left: 1rem;
        margin-top: auto;
        margin-bottom: auto;
        }
    
    .menu-content {
        display: none;
        flex-direction:column;
        justify-content: start;
        width: 100rem;
        background-color: #7C809B;
    
    }
    .menu:hover .menu-content{
        display: flex;
      
        box-shadow: rgba(50, 50, 93, 0.25) 0px 100px 100px -20px;
    }
    .menu-content a {
        font-size: 1.5rem;
        padding: 1.5rem;
        text-decoration: none;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    } 
}
@media  (min-width: 1000px){
    .estudios-item {
        width: 20rem;
    }
    .img img{
        width: 20rem;
        height: 15rem;
    }
}